nz-table {
    width:100%;
    overflow: auto;
}
.button-group {
    margin-top: 10px;
}
[nz-button] {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 600;
    font-family:Times New Roman, Times, serif;
    text-transform: uppercase;
    padding: 9px 14px 8px 14px;
    
}
.btn-green {    
    background: #26a69a;
    color: #ffffff;
    transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}
.btn-green:hover {
    background:#1f897f;
    color: #ffffff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}

.btn-red {
    color: #ffffff;
    background: #cb5a5e;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px;
    border-radius: 4px;
}
.btn-red:hover {
    background: #c23f44;
    color: #ffffff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}
.btn-yellow {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
    background: #c49d6b;
    border-radius: 2px;
    border-radius: 4px;
}
.btn-yellow:hover {
    background: #af8c38;
    color: #ffffff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}
.btn-default {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    color: #333333;
    background: #e5e5e5;
    border-radius: 2px;
    border-radius: 4px;
}
.btn-default:hover {
    background: lightgray;
    color: #333333;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}