/* :host {
  background-color: #f5f5f5;
  display: block;
} */
h2 {
  color: #c49d6b;
  font-family: 'Times New Roman', Times, serif;
}
.page-content-wrapper {
  width: 100%;
  background-color: #f5f5f5;
  display: block;
  overflow: hidden;
}

.breadcrumb {
  height: 30px;
  color:black
}
ul li {
  font-family:'Times New Roman', Times, serif;
}
ul li a {
  color: black;
}
.fa-circle {
  font-size: 8px;
  padding: 0 7px;
  opacity: 0.3;
}
.active {
  opacity: 0.4;
}
.content {
  width: 100%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}
.card-container {
  margin-top: 20px;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-content {
  height: 100%;
  margin-top: -16px;
  width: 100%;
}
.card-container::ng-deep > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
        background: #fff;
        padding: 16px;
        width: 100%;
}
/* .card-container ::ng-deep > .ant-tabs-card > .ant-tabs-nav::before {
  content: "";
  display: none;
  background-color: red;
  width: 100%;
  height:10px;
} */
/* ul li a::before {
  content: '';
  width: 100%;
  color: white;
} */
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  border-top: 3px #f5f5f5 solid;
  background: transparent;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab-active {
  border-top: 3px rgb(250, 56, 56) solid;
  border-bottom: 0px white solid;
  background: #fff;
  color: black
}
.hopdong {
  margin-bottom: 20px;
}