<div class = "page-content-wrapper">
  <div class="page-content">
    <div class="page-head">
      <div nz-row class="page-title" >
        <h2>Tạo đơn hàng</h2>
      </div>
    </div>
    <div class="page-breadcrumb" >
        <ul class="breadcrumb">
          <li>
            <a routerLink="">Home</a>
            <i class="fa fa-circle" aria-hidden="true"></i>
          </li>
          <li>
            <a routerLink="">Quản lý đơn hàng</a>
            <i class="fa fa-circle" aria-hidden="true"></i>
          </li>
          <li class="active" >Tạo đơn hàng</li>
        </ul>
    </div>
    <div class="content">
      <div class="row">
        <app-thongtinkhachhang></app-thongtinkhachhang>
      </div>
      <div class="row">
        <div class="card-container">
          <nz-tabset nzType="card">
            <nz-tab  nzTitle="Đơn hàng hợp đồng">
              <div class="row hopdong" >
                <app-don-hop-dong></app-don-hop-dong>
              </div>
              <div class="row">
                <app-chitiethoadon></app-chitiethoadon>
              </div>
            </nz-tab>
            <nz-tab  nzTitle="Đơn hàng khuyến mãi">
              <div class="row hopdong" >
                <app-don-khuyen-mai></app-don-khuyen-mai>
              </div>
              <div class="row">
                <app-chitiethoadon></app-chitiethoadon>
              </div>
            </nz-tab>
            <nz-tab  nzTitle="Đơn hàng không hợp đồng">
              <div class="row hopdong" >
                <app-don-khong-hop-dong></app-don-khong-hop-dong>
              </div>
              <div class="row">
                <app-chitiethoadon></app-chitiethoadon>
              </div>
            </nz-tab>
            <nz-tab  nzTitle="Đơn hàng sản phẩm mới KHĐ">
              <div class="row hopdong" >
                <app-don-san-pham-moi></app-don-san-pham-moi>
              </div>
              <div class="row">
                <app-chitiethoadon></app-chitiethoadon>
              </div>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>
</div>
</div>
</div>